body {
   margin: 0;
}

body, td {
   font-family: Verdana, Arial;
   font-size: 12px;
}

.ui-widget {
   font-size: 12px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    border: 1px solid #666666;
}

.ui-widget input, .ui-widget select, .ui-widget textarea {
   box-sizing: border-box;
   width: 166px;
}

#addVoucherDialog > div,
#addUserDialog > div {
   padding: 2px;
}

#addVoucherDialog label,
#addUserDialog label {
   display: inline-block;
   width: 100px;
   text-align: right;
}

#addVoucherDialog label + div,
#addUserDialog label + div {
   display: inline-block;
}

#loader {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: #2E6E9E;
   z-index: 100;
   
   color: #fff;
   text-align: center;
   padding-top: 10px;
}

#headline {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 20px;
   width: 100%;
   height: 120px;
   background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
}

#headline h1 {
   color: #2E6E9E;
   margin: 0;
   margin-bottom: 20px;
}

#content {
   padding: 20px;
}