<div id="addUserView">

   <form class="form-horizontal">
      <fieldset>
         <legend>Benutzer hinzufügen</legend>
         <div class="control-group">
            <label class="control-label" for="addUserName">Label name</label>
            <div class="controls">
               <input id="addUserName"  type="text" class="span3" placeholder="Benutzername" ng-model="user.name">
            </div>
         </div>
         
         <div class="form-actions">
            <button type="submit" class="btn btn-primary">Speichern</button>
            <button class="btn">Zurücksetzen</button>
         </div>
      </fieldset>
       
   </form>
   
</div>