<div id="addVoucherView">

   <h2>Kassenzettel hinzufügen</h2>

   <form class="form-horizontal" name="addVoucherForm">
      <fieldset>
         <legend></legend>
         
         <div class="control-group">
            <label class="control-label" for="addVoucherAmount">Betrag</label>
            <div class="controls">
               <input id="addVoucherAmount" type="number" step="0.01" class="span3" placeholder="Betrag" ng-model="voucher.amount" min="0.01" required>
            </div>
         </div>
         
         <div class="control-group">
            <label class="control-label" for="addVoucherPaidDate">Bezahlt am</label>
            <div class="controls">
               <input id="addVoucherPaidDate" type="date" class="span3" placeholder="Bezahlt am" ng-model="voucher.paid_date" required>
            </div>
         </div>
         
         <div class="control-group">
            <label class="control-label" for="addVoucherUserName">Bezahlt von</label>
            <div class="controls">
               <select id="addVoucherUserName" class="span3" ng-model="voucher.paid_by" required>
                  <option ng-repeat="user in users" ng-model="user">{{user.name}}</option>
               </select>
            </div>
         </div>
         
         <div class="control-group">
            <label class="control-label" for="addVoucherComment">Kommentar</label>
            <div class="controls">
               <input id="addVoucherComment" type="text" class="span3" placeholder="Kommentar" ng-model="voucher.comment" required>
            </div>
         </div>
         
         <div class="form-actions">
            <button class="btn btn-primary" ng-click="addVoucher()">Hinzufügen</button>
            <button class="btn" ng-click="reset()">Zurücksetzen</button>
         </div>
         
      </fieldset>
       
   </form>
   
</div>